.cabecalho {
    padding: 16px;
    background-color: var(--cor-principal);
}

.cabecalho__menu {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}

.cabecalho__menu__busca {
    display: none;
}

.cabecalho__menu__botao{
    background-color: var(--cor-principal);
    color: var(--cor-secundaria);
    border: 1px solid var(--cor-secundaria);
    padding: 12px 16px;
    text-decoration: none;
}

.banner {
    width: 100%;
    background-image: url('../assets/banner-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 192px;
}

.banner__mobile {
    width: 100%;
}

.banner__titulo {
    color: var(--cor-principal);
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: flex-end;
    height: 154px;
    padding-left: 16px;
}

.banner__titulo h2 {
    font-size: 1.3rem;
    font-weight: 700;
}

.banner__titulo p {
    font-size: 0.9rem;
    font-weight: 600;
}

.banner__titulo a {
    color: var(--cor-principal);
    background-color: var(--cor-secundaria);
    width: 90px;
    padding: 12px 16px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.banner__titulo a:hover {
    background-color:#D4E4FA;
}

@media (min-width:768px) {
    .cabecalho__menu__lupa {
        display: none;
    }

    .cabecalho__menu__logo {
        display: flex;
        gap: 32px;
    }

    .cabecalho__menu__busca {
        background-color: var(--cor-fundo);
        display: block;
        padding: 8px 16px;
        border-radius: 20px;
        border: none;
        width: 272px;
    }
    .banner{
        background-image: url('../assets/banner-tablet.png');
        height: 352px;
       }
    
    .banner__titulo {
        height: 300px;
    }

}

@media (min-width: 1440px) {
   .cabecalho {
        padding: 16px 64px;
   }

   .banner{
        background-image: url('../assets/banner-desktop.png');
        height: 467px;
   }

   .banner__titulo {
        padding-left: 64px;
        height: 400px;
   }
}

