.todos__produtos {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
}

.todos__produtos h2{
    color: var(--cor-texto);
    font-size: 1.37rem;
    font-weight: 700;
}

.todos__produtos a {
    background-color: var(--cor-secundaria);
    color: var(--cor-principal);
    font-size: 0.87rem;
    font-weight: 600;
    padding: 12px 0 12px 16px;
    text-decoration: none;
    width: 140px;
}

